*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    bottom: 0;
    list-style: none;
    text-decoration: none;
}

img {
    width: 50%;
    text-align: center;
}

body {
    background-color: #5c5c5c;
    overflow-x: hidden;
    color: #e2cfc7;
}

.container {
    width: 1000px;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
}

.php1 {
    display: grid;
    grid-template-columns: 60% 40%;
}

.title {
    font-size: 36px;
    padding: 20px 0;
}

.text {
    padding: 5px 0;
}

.color {
    font-weight: 600;
    color: #3a2424;
}

.link {
    color: #c2b8b5;
}
.animal_text{
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.img{
    width: 300px;
}
.information {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.info_animal{
    display: flex;
    align-items: center;
    gap: 40px;
}